{%- render 'vite' with '@snippetStyles/_drawer-collection-header-description.scss' -%}

<div class="drawer drawer-collection-header-description" id="drawer-collection-header-description">
    <div class="inner">
        <button class="button button--no-styling drawer__header__close drawer-close" aria-label="{{ 'sections.collection.drawer.close' | t }}"><span>{{ 'sections.collection.drawer.close' | t }}</span>{% render "icon-cross.svg" %}</button>
        <div class="drawer__content drawer-collection-header-description__content">

            {% if collection.metafields.cake.collection_header_description_drawer_content != blank %}
                    <div>{{ collection.metafields.cake.collection_header_description_drawer_content | metafield_tag }}</div>
                {% else %}
                    {% if collection.description %}
                        <div>{{ collection.description | strip_html }}</div>
                    {% endif %}
            {% endif %}

            {% if collection.metafields.cake.collection_header_description_drawer_image != blank %}
                {% render 'responsive-image', width: 820, source: collection.metafields.cake.collection_header_description_drawer_image, alt: collection.title %}
            {% else %}
                {% if collection.image != blank %}
                    {% render 'responsive-image', width: 820, source: collection.image.src, alt: collection.title %}
                    {% else %}
                        {% assign first_collection_product = collection.products.first %}
                        {% if first_collection_product %}
                            {% render 'responsive-image', width: 820, source: first_collection_product.images[0].src, alt: first_collection_product.images[0].alt %}
                        {% endif %}
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>