
<div class="product-bundle-car-seats">
    <span>{{ 'products.product.select_car_seat' | t }}:</span>
    {% assign car_seat_products = product.metafields.cake.bundle_car_seats.value %}
    <ul class="product-bundle-car-seats__list">
        {% for item in car_seat_products.products.value %}
            {% render 'bundle-item', item: item %}
        {% endfor %}
    </ul>
</div>