{% comment %}
    TODO:
        - Check if metafield exists
        - Ensure unlisted products cannot be added anywhere other than bundle
        - Add from label if car seat bundle to title
        - If bundle product is removed from cart, remove car seat also
        - When colour variant checked, re-render the card like TF
{% endcomment %}

<div class="product-bundle-car-seats">
    
</div>