<form class="collection-sort sort-form" id="sort-form">
  {% assign current_sort = collection.sort_by | default: collection.default_sort_by %}
  {% assign current_sort_option = '' %}
  {%- for option in collection.sort_options -%}
    {%- if option.value == current_sort -%}
      {% assign current_sort_option = option.name %}
    {%- endif -%}
  {%- endfor -%}

  <button type="button" class="button-text button-text--sort" data-action="sort-by">
    <span>{{ 'filter_and_sort.sort' | t }}:</span>
    {% if current_sort_option != '' %}
        <span> {{ current_sort_option }}</span>
    {% endif %}
    {%- render 'icon-chevron.svg' -%}
  </button>

  <div class="filter-group-sort">
    <div class="sort-options">
      {% for option in collection.sort_options %}
        {% if collection.default_sort_by != 'best-selling' and option.value == 'best-selling' %}
          {% continue %}
        {% endif %}
        <label class="sort-options__option">
          <input type="radio" name="sort_by" value="{{ option.value }}" {% if current_sort == option.value %} checked{% endif %}>
          <span>{{ option.name }}</span>
        </label>
      {% endfor %}
    </div>
  </div>
</form>

<script>
    window.addEventListener('DOMContentLoaded', function() {
        window.init_handle_collection_sort_by();
    });
    if (Shopify.designMode) {
        document.addEventListener('shopify:section:load', function() {
            window.init_handle_collection_sort_by();
        });
    };
</script>