node_modules
node_modules/*
.DS_Store
*/.DS_Store

/assets
/snippets/vite.liquid

templates/*.json
!templates/404.json
!templates/article.json
!templates/blog.json
!templates/cart.json
!templates/collection.json
!templates/collection.landing.json
!templates/index.json
!templates/list-collections.json
!templates/page.contact.json
!templates/page.faq.json
!templates/page.json
!templates/password.json
!templates/product.json
!templates/search.json

.shopify
shopify.theme.toml
