// font families
$font-base: 'Nunito', sans-serif;
$font-display: 'Waden', arial, sans-serif;

// font-weights
$weight-regular: 300;
$weight-bold: 500;
$weight-display: 700;

// Radius
$radius-xsmall: 2px;
$radius-small: 4px;
$radius-medium: 6px;
$radius-large: 8px;
$radius-xlarge: 10px;

// theme colours
$color-black: var(--color-black);
$color-white: var(--color-white);
$color-grey: var(--color-grey);
$color-primary: var(--color-primary);
$color-primary-hover: var(--color-primary-hover);
$color-secondary: var(--color-secondary);
$color-tertiary: var(--color-tertiary);
$color-tertiary: var(--color-heritage);
$color-transactional: var(--color-transactional);
$color-transactional-hover: var(--color-transactional-hover);

// additional colours
$color-success: var(--color-success);
$color-failure: var(--color-failure);
$color-warning: var(--color-warning);

// desktop breakpoints
$w-xxxl: 1920px;
$w-xxl: 1680px;
$w-xl: 1440px;
$w-ml: 1280px;
// tablet breakpoints
$w-l: 1024px;
$w-m: 768px;
$w-ms: 520px;
//mobile breakpoints
$w-s: 440px;
$w-xs: 360px;

@mixin section_header_center {
	padding-bottom: 32px;
    text-align: center;
}

@mixin section_header {
	padding-bottom: 32px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}