<div class="section-header__inner"></div>

{% schema %}
    {
        "name": "Header",
        "tag": "header",
        "class": "section-header",
        "blocks": [],
        "settings": []
    }
{% endschema %}
