@use "../abstracts/variables.scss" as *;

.section-announcement-bar {
	position: fixed;
    width: 100%;
	transition: transform 0.4s ease, opacity 0.3s ease;
    will-change: transform, opacity;
    z-index: 11;
    &.scrolling {
        opacity: 0;
        top: -100%;
    }
    .swiper {
        display: none;
        &-initialized {
            display: block;
        }
    }
    &__inner {
        position: relative;
        padding: 0.75em 2.125em;
        .swiper-wrapper {
            justify-content: space-between;
        }
        &-announcement {
            width: 100%;
            min-width: 100%;
            margin: 0 auto;
            text-align: center;
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;
            cursor: default;
            span {
                font-size: 0.625em;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: $weight-display;
                line-height: 1;
                letter-spacing: 0.5px;
                width: 100%;
                height: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                color: $color-primary;
                text-transform: uppercase;
            }
            a {
                display: block;
                width: 100%;
            }
        }
    }
    @media (min-width: 900px) {
        .section-announcement-bar__inner .swiper-slide:first-child {
            .section-announcement-bar__inner-announcement span {
            justify-content: flex-start;
            }
        }
        .section-announcement-bar__inner .swiper-slide:last-child {
            .section-announcement-bar__inner-announcement span {
            justify-content: flex-end;
            }
        }
    }
}
