@use "../abstracts/variables.scss" as *;

.section-blog-header {
    .wrap {
        @media (max-width: $w-l) {
            padding-right: 0;
            padding-left: 0;
        }
    }
    &__container {
        position: relative;
        &:after {
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            width: 1.25em;
            background: linear-gradient(to left, $color-white 0%, transparent 100%);
        }
    }
    &__inner {
        display: flex;
        flex-direction: column;
        gap: 1em;
        text-align: center;
        &-title {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1em;
            @media (max-width: $w-l) {
                padding-right: 1em;
            }
            h1 {
                font-size: 2.5em;
            }
        }
        &-tags {
            display: flex;
            align-items: flex-start;
            overflow-x: scroll;
            padding: 0 1em 1em 1em;
            gap: 2em;
            position: relative;
            a {
                white-space: nowrap;
                span {
                    font-weight: $weight-bold;
                    font-size: 0.825em;
                    text-transform: capitalize;
                }
                &.active {
                    color: $color-transactional;
                    text-decoration-color: $color-transactional;
                }
            }
        }
    }
}