@use "../abstracts/variables.scss" as *;

.section-blog {
    &__articles {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 3.5em 1.875em;
        @media (max-width: $w-ml) {
            grid-template-columns: repeat(4, 1fr);
        }
        @media (max-width: $w-l) {
            grid-template-columns: repeat(3, 1fr);
            gap: 2.5em 0.5em;
        }
        @media (max-width: $w-m) {
            grid-template-columns: repeat(2, 1fr);
            gap: 2.5em 0.5em;
        }
    }
}