@use "../abstracts/variables.scss" as *;

.section-blog-showcase {
    &__header {
        @include section_header_center;
        font-size: 1.75em;
    }
    &__feature {
        padding: 3.875em;
        border-radius: $radius-small;
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        gap: 2em;
        img {
            object-fit: cover;
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 100%;
            height: 100%;
        }
        h4 {
            font-size: 1.75em;
            @media (min-width: $w-m) {
                max-width: 80%;
            }
        }
        h4,div,a {
            position: relative;
            z-index: 2;
        }
        .image-overlay {
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            border-radius: $radius-small;
        }
    }
    &__inner {
        display: grid;
        grid-template-columns: 562px 1fr;
        gap: 2.5em;
        overflow: hidden;
        @media (max-width: $w-ml) {
            grid-template-columns: 1fr;
            gap: 1em;
        }
    }
    &__wrap {
        max-height: 562px;
        min-height: 562px;
        height: 100%;
        @media (max-width: $w-m) {
            max-height: 592px;
            min-height: 592px;
        }
    }
    &__articles {
        display: flex;
        flex-direction: column;
        gap: 1em;
        overflow-y: auto;
        max-height: 518px;
    }
    &__action {
        background-color: $color-white;
        text-align: center;
        padding-top: 0.75em;
        position: relative;
        @media (max-width: $w-m) {
            padding-top: 2em;
        }
        &::before {
            content: '';
            position: absolute;
            bottom: 99%;
            left: 0;
            right: 0;
            height: 2.5em;
            background: linear-gradient(to top, $color-white 0%, transparent 100%);
            z-index: 3;
            pointer-events: none;
        }
    }
}