@use "../abstracts/variables.scss" as *;

.section-brands-logo-slider {
    &__inner {
        &-header {
            @include section_header_center;
        }
    }
    &__slider {
        .swiper-wrapper {
            align-items: center;
            .swiper-slide {
                width: 100%;
                max-width: 200px;
                height: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    max-width: 160px;
                    max-height: 80px;
                    width: auto;
                    height: auto;
                    object-fit: contain;
                    display: block;
                }
            }
        }
    }
}