@use "../abstracts/variables.scss" as *;

.section-call-to-action {
    &__inner {
        display: grid;
        grid-template-columns: 330px 1fr;
        @media (max-width: $w-m) {
            grid-template-columns: 1fr;
        }
    }
    &__content {
        padding: 2em 5em;
        display: flex;
        flex-direction: column;
        gap: 1em;
        font-size: 1.125em;
        text-align: center;
        &-wrap {
            display: flex;
            gap: 1em;
            flex-flow: row wrap;
            align-items: center;
            justify-content: center;
        }
        @media (min-width: $w-m) {
            border-top-right-radius: $radius-small;
            border-bottom-right-radius: $radius-small;
        }
        @media (max-width: $w-m) {
            text-align: center;
            border-bottom-left-radius: $radius-small;
            border-bottom-right-radius: $radius-small;
            padding: 2em 0.75em;
        }
    }
    &__image {
        position: relative;
        overflow: hidden;
        @media (min-width: $w-m) {
            border-top-left-radius: $radius-small;
            border-bottom-left-radius: $radius-small;
        }
        @media (max-width: $w-m) {
            border-top-left-radius: $radius-small;
            border-top-right-radius: $radius-small;
            min-height: 290px;
        }
        img {
            display: block;
            object-fit: cover;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            height: 100%;
            width: 100%;
        }
    }
}