@use "../abstracts/variables.scss" as *;

.section-collection-slider {
    .wrap {
        padding-right: 0;
    }
    &__header {
        @include section_header;
        padding-right: 2.125em;
        @media (max-width: $w-l) {
            padding-right: 2em;
        }
        @media (max-width: $w-m) {
            padding-right: 0.9375em;
            &.stack {
                flex-direction: column;
                gap: 1em;
            }
        }
        .medium {
            font-size: 28px;
        }
        &-label {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.75em;
            border-radius: $radius-small;
            background-color: $color-grey-dark;
            padding: 0.375em 0.75em;
            font-size: 0.625em;
            a {
                text-decoration: underline;
            }
        }
    }
    &__slider {
        position: relative;
        .swiper {
            .swiper-slide {
                height: auto;
            }
        }
        .swiper-navigation {
            padding: 2em 2em 0 0;
            display: flex;
            gap: 1em;
            justify-content: flex-end;
            .swiper-button-prev, .swiper-button-next {
                position: relative;
                left: unset;
                right: unset;
                top: unset;
                margin-top: unset;
            }
        }
    }
}