@use "../abstracts/variables.scss" as *;

.section-collection-header {
    overflow: hidden;
    position: relative;
    &__overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 2;
    }
    &__image {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        display: block;
        object-fit: cover;
        &.desktop {
            display: block;
            @media (max-width: $w-m) {
                display: none;
            }
        }
        &.mobile {
            display: none;
            @media (max-width: $w-m) {
                display: block;
            }
        }
    }
    &__container {
        display: flex;
        align-items: center;
        padding: 7.375em 0 9.875em 0;
        @media (max-width: $w-m) {
            padding: 8em 0 7.125em 0;
        }
    }
    &__header {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 0.5em;
        position: relative;
        z-index: 3;
        max-width: 450px;
        h1 {
            display: flex;
            align-items: center;
            gap: 0.5em;
        }
        a.button {
            width: fit-content;
            margin-top: 0.5em;
        }
    }
    &__links {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        gap: 2em;
        z-index: 3;
        border-top: 1px solid $color-white;
        padding: 0.825em 2em;
        backdrop-filter: blur(4px);
        scroll-snap-type: x mandatory;
        overflow-x: auto; 
        @media (max-width: $w-m) {
            padding: 1.375em 1em;
        }
        li {
            white-space: nowrap;
            a {
                text-decoration: none;
                span {
                    font-size: 14px;
                }
            }
        }
    }
}

