@use "../abstracts/variables.scss" as *;

.section-main-product {
    &__inner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 4.875em;
		@media (max-width: $w-l) {
			display: block; 
		}
    }
    &__media {
        position: relative;
    }
    &__badges {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 2;
        width: 100%;
        padding: 2.25em 2em;
        @media(max-width: $w-l) {
            padding: 1em;
        }
    }
    &__content {
        padding: 2.125em 0 3.5em 0;
        @media(min-width: $w-l) {
            max-height: 932px;
            overflow-y: auto;
        }
        form {
            display: flex;
            flex-direction: column;
            gap: 1em;
        }
        @media (max-width: $w-l) {
            padding: 0 0.875em;
        }
        &-title-price {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            gap: 2em;
            .price-display {
                flex-direction: column;
                align-items: flex-end;
                ins, .label-price, .price {
                    font-size: 22px;
                    font-family: $font-display;
                    color: $color-primary;
                    line-height: 140%;
                }
                del {
                    font-family: $font-base;
                    color: $color-heritage;
                    opacity: 1;
                }
                .from {
                    font-size: 10px;
                    text-transform: uppercase;
                }
            }
        }
        &-breadcrumbs, &-title-price, &-description, &-colours, &-usps, &-actions, &-variants, &-notifications, &-gift-card, &-payment {
            margin-right: 2em;
            @media (max-width: $w-l) {
                margin-right: 0;
            }
        }
        &-actions {
            #view-product {
                display: none;
                height: 50px;
                min-width: fit-content;
            }
        }
        &-payment {
            .payment-icons {
                max-width: none;
                ul {
                    justify-content: center;
                }
            }
        }
        &-notifications {
            display: flex;
            justify-content: space-between;
            gap: 2.375em;
            .product-notification {
                background-color: $color-grey;
                border-radius: $radius-small;
                padding: 0.5em 2em;
                font-size: 0.625em;
                text-transform: uppercase;
                font-weight: $weight-bold;
                letter-spacing: 1px;
                width: 100%;
                text-align: center;
                span {
                    line-height: 140%;
                    display: block;
                }
            }
            @media (max-width: 550px) {
                flex-direction: column;
                gap: 0.5em;
            }
        }
        &-variants {
            display: flex;
            flex-direction: column;
            gap: 0.25em;
            .option-name {
                font-size: 0.75em;
                text-transform: uppercase;
                display: block;
            }
            .select-wrap {
                position: relative;
                select {
                    width: 100%;
                    height: 40px;
                    border-radius: $radius-small;
                    border: 1px solid $color-black;
                    padding: 0 1em;
                    appearance: none;
                    font-size: 0.75em;
                    color: $color-black;
                }
                .icon {
                    position: absolute;
                    right: 1em;
                    top: 50%;
                    transform: translateY(-50%);
                    pointer-events: none;
                }
            }
            .variant-error {
                color: $color-failure;
                span {
                    font-size: 0.75em;
                }
                &.hidden {
                    display: none;
                }
            }
            //Radios
            .variant-radios {
                display: flex;
                gap: 0.5em;
                .variant-radio-label {
                    border: 1px solid #1F25354D;
                    position: relative;
                    padding: 0.5em;
                    input {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                    }
                    span {
                        font-size: 0.875em;
                    }
                }
            }
        }
        &-usps {
            padding: 0.375em 0.625em;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: $radius-small;
            gap: 1em;
            background-color: $color-tertiary;
            margin-bottom: 1em;
            li {
                display: flex;
                align-items: center;
                gap: 0.5em;
                img {
                    width: 0.875em;
                }
                span {
                    font-size: 0.625em;
                    text-transform: uppercase;
                    color: $color-primary;
                    letter-spacing: 1px;
                    font-weight: $weight-bold;
                    line-height: 140%;
                }
            }
            @media (max-width: 550px) {
                flex-flow: row wrap;
                gap: 0.625em;
                padding: 0.75em 0.875em;
                li {
                    justify-content: center;
                    &:last-of-type {
                        width: 100%;
                    }
                }
            }
        }
        &-description {
            max-width: 90%;
            p {
                font-size: 0.875em;
            }
            button {
                margin-top: 0.5em;
            }
        }
        &-message {
            font-size: 0.625em;
            text-transform: uppercase;
            text-align: center;
            a {
                text-decoration: underline;
            }
        }
        &-colours {
            margin: 1em 0;
            .colour-label {
                font-size: 0.625em;
                text-transform: uppercase;
                font-weight: $weight-bold;
                display: block;
                margin-bottom: 0.5em;
            }
			.product-colour-swatches {
				display: flex;
				align-items: center;
				flex-flow: row wrap;
				gap: 10px;
				.swatch {
					display: block;
					width: 1.875em;
					height: 1.875em;
					border-radius: 50%;
                    position: relative;
                    &.unavailable {
                        &::after {
                            content: "";
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%) rotate(45deg);
                            height: 1px;
                            width: 100%;
                            background-color: $color-white;
                        }
                        &::before {
                            content: "";
                            position: absolute;
                            bottom: -0.625em;
                            right: -0.625em;
                            border: 2px solid $color-grey;
                            width: 1.25em;
                            height: 1.25em;
                            border-radius: 50%;
                            background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTQuNjc3NDYgMTAuNUM1LjAzMDAzIDEwLjgxMTIgNS40OTMxNSAxMSA2LjAwMDM4IDExQzYuNTA3NiAxMSA2Ljk3MDcyIDEwLjgxMTIgNy4zMjMyOSAxMC41TTkuMDAwMzggNEM5LjAwMDM4IDMuMjA0MzUgOC42ODQzMSAyLjQ0MTI5IDguMTIxNyAxLjg3ODY4QzcuNTU5MDkgMS4zMTYwNyA2Ljc5NjAzIDEgNi4wMDAzOCAxQzUuMjA0NzMgMSA0LjQ0MTY2IDEuMzE2MDcgMy44NzkwNiAxLjg3ODY4QzMuMzE2NDUgMi40NDEyOSAzLjAwMDM4IDMuMjA0MzUgMy4wMDAzOCA0QzMuMDAwMzggNS41NDUwOSAyLjYxMDYxIDYuNjAyOTggMi4xNzUyMSA3LjMwMjcxQzEuODA3OTQgNy44OTI5NCAxLjYyNDMgOC4xODgwNSAxLjYzMTA0IDguMjcwMzhDMS42Mzg0OSA4LjM2MTU0IDEuNjU3ODEgOC4zOTYzIDEuNzMxMjYgOC40NTA3OUMxLjc5NzYxIDguNSAyLjA5NjY3IDguNSAyLjY5NDggOC41SDkuMzA1OTVDOS45MDQwOCA4LjUgMTAuMjAzMSA4LjUgMTAuMjY5NSA4LjQ1MDc5QzEwLjM0MjkgOC4zOTYzIDEwLjM2MjMgOC4zNjE1NCAxMC4zNjk3IDguMjcwMzhDMTAuMzc2NCA4LjE4ODA1IDEwLjE5MjggNy44OTI5NCA5LjgyNTU0IDcuMzAyNzFDOS4zOTAxNCA2LjYwMjk4IDkuMDAwMzggNS41NDUwOSA5LjAwMDM4IDRaIiBzdHJva2U9IiMxRjI1MzUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L3N2Zz4K");
                            background-repeat: no-repeat;
                            background-position: center;
                            background-color: $color-white;
                            z-index: 1;
                        }
                    }
				}
				.current {
					display: flex;
					align-items: center;
					justify-content: center;
					border: 1px solid $color-primary;
					width: 2.2em;
					height: 2.2em;
					border-radius: 50%;
				}
			}
            &.card {
                margin: 0;
                .colour-label {
                    display: none;
                }
                .swatch {
                    width: 1.25em;
                    height: 1.25em;
                }
                .current {
                    width: 1.75em;
                    height: 1.75em;
                }
                .swatches {
                    display: flex;
                    align-items: center;
                    gap: 1em;
                    .product-colour-swatches {

                        &__extra {
                            color: $color-primary;
                            font-size: 0.625em;
                            opacity: 0.5;
                            letter-spacing: 0.5px;
                        }
                    }
                }
            }
        }
        &-gift-card {
            .recipient-select {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 0.5em;
                margin: 1.25em 0;
                p {
                    text-transform: uppercase;
                    font-size: 0.75em;
                    letter-spacing: 1.2px;
                }
                &__buttons {
                    display: flex;
                    align-items: center;
                    gap: 0.75em;
                    button {
                        text-decoration: none;
                        opacity: 0.5;
                        span {
                            font-size: 14px;
                        }
                        &.active {
                            opacity: 1;
                            text-decoration: underline;
                        }
                    }
                }
            }
            .recipient-details {
                display: none;
                margin-top: 1em;
                flex-direction: column;
                flex-flow: row wrap;
                gap: 0.75em;
                &.active {
                    display: flex;
                }
                .alert {
                    border-color: $color-warning;
                }
                input, textarea, select {
                    font-size: 10px !important;
                    color: $color-primary;
                }
            }
            .email-alert {
                display: none;
                font-size: 0.875em;
                margin: 0;
            }
            .date-message {
                margin: 0.75em 0 0 0;
                font-size: 0.875em;
            }
            label {
                display: block;
            }
        }
    }
}