@use "../abstracts/variables.scss" as *;

.section-search {
    &__inner {
        .search-term {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 0.25em;
            padding-bottom: 3.5em;
            p {
                font-size: 0.875em;
            }
            @media (max-width: $w-l) {
                padding-bottom: 3em;
            }
        }
    }
    &__products {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 3.5em 1.875em;
        @media (max-width: $w-ml) {
            grid-template-columns: repeat(4, 1fr);
        }
        @media (max-width: $w-l) {
            grid-template-columns: repeat(3, 1fr);
            gap: 1em 0.5em;
        }
        @media (max-width: $w-m) {
            grid-template-columns: repeat(2, 1fr);
            gap: 1em 0.5em;
        }
    }
    .main-search-floating-filter {
        display: none;
        position: fixed;
        left: 50%;
        bottom: 2em;
        z-index: 3;
        transform: translateX(-50%);
        border: 1px solid $color-transactional;
        background-color: $color-white;
        border-radius: 30px;
        button {
            display: flex;
            align-items: center;
            gap: 0.75em;
            text-decoration: underline;
            text-underline-offset: 6px;
            font-weight: 400;
        }
    }
}