@use "../abstracts/variables.scss" as *;

.section-page-header-basic {
    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.25em;
    }
}