@use "../abstracts/variables.scss" as *;

.template-password {
	main {
		padding-top: 0 !important;
	}
}

.section-password {
	position: relative;
	background-color: $color-primary;
	flex: 1;
	display: flex;
	align-items: center;
    min-height: 100vh;
    &__background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    &__overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
    }
    &__actions {
        width: 100%;
        max-width: 60%;
		@media (max-width: $w-m) {
			max-width: none;
		}
    }
	&__inner {
        color: $color-white;
        position: relative;
        z-index: 2;
	}
	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1.5em;
		text-align: center;
		@media (max-width: $w-m) {
			order: 2;
		}
        h1 {
            color: $color-white;
        }
		.form {
			gap: 1.625em;
		}
		.form-row--actions {
			width: 100%;
		}
		img,
		button {
			margin: 0 auto;
		}
		label {
			display: none;
		}
		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		p {
			margin: 0;
            color: $color-white;
		}
        p {
            max-width: 75%;
            line-height: 140%;
            font-size: 14px;
            margin: 0 auto;
        }
        .button-label {
            color: $color-black;
            margin: 0 auto;
        }
        .button-text {
            margin: 0 auto;
        }
		.form-row {
			position: relative;
			.reveal-password-icon {
				cursor: pointer;
				position: absolute;
				top: 50%;
				right: 0.75em;
				transform: translateY(-50%);
				z-index: 2;
				svg {
					width: 30px;
					height: 30px;
				}
			}
		}
		input {
			background-color: rgba(255, 255, 255, 0.3);
            backdrop-filter: blur(5px);
            color: $color-white;
            border-color: $color-white;
			text-transform: none !important;
			font-size: 16px;
            padding: 0 1em;
            &::placeholder {
                color: $color-white;
            }
		}
	}
	&__image {
		@media (max-width: $w-m) {
			order: 1;
		}
	}
	&__text,
	&__form {
		display: flex;
		flex-direction: column;
		gap: 1.625em;
		&.hidden {
			display: none;
		}
	}
}
