@use "../abstracts/variables.scss" as *;

.section-related-articles {
    .wrap {
        padding-right: 0;
    }
    &__header {
        @include section_header;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 2.125em;
        @media (max-width: $w-l) {
            padding-right: 2em;
        }
        @media (max-width: $w-m) {
            padding-right: 0.9375em;
        }
    }
    &__articles {
        scroll-snap-type: x mandatory;
        overflow-x: auto; 
        display: flex;
        justify-content: space-between;
        gap: 1.875em;
         padding-right: 2.125em;
        @media (max-width: $w-l) {
            padding-right: 2em;
        }
        @media (max-width: $w-m) {
            padding-right: 0.9375em;
            gap: 0.5em;
        }
        .card-article { 
            min-width: 320px;
            max-width: 320px;
            @media (max-width: $w-m) {
                min-width: 204px;
                max-width: 204px;
            }
        }
    }
}