@use "../abstracts/variables.scss" as *;

.section-service-usps-slider {
    &__inner {
        padding: 1.25em 3.25em;
        background-color: $color-grey;
        border-radius: $radius-small;
        @media (max-width: $w-m) {
            padding: 0 1em 0 1em; 
        }
        .swiper-pagination {
            position: relative;
            bottom: 0;
            top: 0;
            padding-bottom: 1.25em;
        }
    }
    .swiper {
        .swiper-wrapper {
            align-items: center;
            .swiper-slide {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 1.625em 0;
                .service-usp {
                    width: 100%;
                    max-width: 270px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 1.25em;
                    span {
                        font-size: 0.625em;
                        line-height: 140%;
                        text-transform: uppercase;
                        font-weight: $weight-display;
                    }
                    @media (max-width: 550px) {
                        max-width: none;
                        padding: 0 3.625em;
                    }
                }
                @media (max-width: $w-m) {
                    padding: 1.875em 0 1.375em 0;
                }
                @media (min-width: $w-m) {
                    &:nth-of-type(2) {
                        border-left: 1px solid $color-grey-dark;
                        border-right: 1px solid $color-grey-dark;
                    }
                }
            }
        }
    }
}