@use "../abstracts/variables.scss" as *;

.section-ugc-slider {
    overflow: hidden;
    
    &__slider {
        .swiper {
            .swiper-wrapper {
                align-items: center;
            }
            .swiper-slide {
                position: relative;
                overflow: hidden;
                border-radius: $radius-small;
                width: 252px;
                height: 252px;
                &-active {
                    width: 323px;
                    height: 323px;
                }
                &-prev, &-next {
                    width: 293px;
                    height: 300px;
                }
                img {
                    display: block;
                    object-fit: cover;
                    border-radius: $radius-small;
                    height: 100%;
                    width: 100%;
                }
            }
            .slide-label {
                position: absolute;
                top: 0.625em;
                left: 0.625em;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.75em;
                border-radius: $radius-small;
                background-color: $color-white;
                padding: 0.375em 0.75em;
                font-size: 0.625em;
                transition: all 0.4s ease;
                z-index: 2;
            }
        }        
        .swiper-pagination {
            position: relative;
            padding-top: 2em;
        }
    }
    
    &__header {
        padding: 0 2em;
        @include section_header;
        &-label {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.75em;
            border-radius: $radius-small;
            background-color: $color-grey-dark;
            padding: 0.375em 0.75em;
            span { font-size: 0.625em; }
        }
        @media (max-width: $w-m) {
            flex-direction: column;
            gap: 1em;
        }
    }
}
