@use "../abstracts/variables.scss" as *;

.section-ugc-slider {
    &__header {
        padding: 0 2em;
        @include section_header;
        &-label {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.75em;
            border-radius: $radius-small;
            background-color: $color-grey-dark;
            padding: 0.375em 0.75em;
            span {
                font-size: 0.625em;
            }
        }
    }
    &__slider {
        .swiper-pagination {
            position: relative;
            padding-top: 2em;
        }
        &-slide {
            position: relative;
            height: 100%;
            width: 100%;
        }
        .swiper-wrapper {
            align-items: center;
            @media (min-width: $w-l) {
                justify-content: center;
            }
        }
        .swiper-slide {
            width: 253px;
            height: 253px;
            overflow: hidden;
            border-radius: $radius-small;
            &-active {
                width: 323px;
                height: 323px;
            }
            &-prev, &-next {
                width: 293px;
                height: 293px;
            }
            img {
                border-radius: $radius-small;
                display: block;
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
            .slide-label {
                position: absolute;
                top: 0.625em;
                left: 0.625em;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.75em;
                border-radius: $radius-small;
                background-color: $color-white;
                padding: 0.375em 0.75em;
                span {
                    font-size: 0.625em;
                }
            }
        }
    }
}