{% layout none %}
<li class="card-product-bundle-item{% unless product.available %} unavailable{% endunless %}" data-id="{{ product.selected_or_first_available_variant.id }}" data-price="{{ product.price }}">
    <div class="details">
        {% render 'responsive-image', width: 240, source: product.images[0].src, alt: product.images[0].alt, class: 'media' %}
        <div class="details__inner">
            <span class="details__inner-title">{{ product.title }}</span>
            {% render 'bundle-item-colour-swatches', product: product %}
            {% render 'product-price', product: product %}
        </div>
    </div>
</li>