@use "../abstracts/variables.scss" as *;
.card-article-condensed {
    display: grid;
    grid-template-columns: 212px 1fr;
    &__image {
        overflow: hidden;
        border-top-left-radius: $radius-small;
        border-bottom-left-radius: $radius-small;
        position: relative;
        min-height: 212px;
        img {
            display: block;
            object-fit: cover;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 100%;
            height: 110%;
            border-top-left-radius: $radius-small;
            border-bottom-left-radius: $radius-small;
        }
    }
    &__content {
        border: 1px solid $color-grey;
        border-left: none;
        border-top-right-radius: $radius-small;
        border-bottom-right-radius: $radius-small;
        padding-left: 1.75em;
        padding: 2.125em 3.5em 2.125em 1.75em;
        display: flex;
        flex-direction: column;
        gap: 1em;
        @media (max-width: $w-ml) {
            padding-right: 1.375em;
        }
        @media (max-width: $w-m) {
            padding: 0.625em 0.5em;
        }
    }
}