@use "../abstracts/variables.scss" as *;

.cart-delivery-threshold {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    p {
        font-size: 0.625em;
        text-transform: uppercase;
        letter-spacing: 1px;
        span {
            font-weight: $weight-display;
        }
    }
    &__discount-bar {
        width: 80%;
		height: 12px;
		border-radius: 20px;
		position: relative;
		margin-top: 10px;
        border: 1px solid $color-primary;
        background-color: $color-white;
		.progress {
			position: absolute;
			top: 0;
			left: 0;
			height: 10px;
			border-radius: 20px;
		}
    }
}