@use "../abstracts/variables.scss" as *;

.drawer-filters-open {
	.drawer-filters {
		left: 0;
		@media (max-width: $w-m) {
			max-width: none;
		}
	}
    #overlay-mask {
        display: block;
		z-index: 11;
    }
}
.drawer-filters {
	left: -$w-ms;
    max-width: 438px;
	transition: left 0.25s linear;
	&__inner {
		grid-template-rows: auto 1fr auto;
	}
	.collection-sort, .search-sort {
		&-mobile {
			margin: 3em 2em 0 2em;
			display: block;
			@media (max-width: $w-m) {
				margin: 3em 1em 0 1em;
			}
			button {
				display: flex;
				justify-content: flex-start;
				width: 100%;
				border-bottom: 1px solid $color-primary;
				padding-bottom: 1em;
				text-decoration: none;
				svg {
					width: 24px;
					height: auto;
					margin-left: auto;
				}
				span {
					font-size: 20px;
					@media (max-width: $w-m) {
						font-size: 1.25em;
					}
					&:first-of-type {
						margin-right: 0.5em;
					}
				}
				&:hover {
					font-weight: $weight-regular;
					&:hover {
						color: $color-black;
					}
				}
			}
			&.active {
				.filter-group-sort {
					display: flex;
				}
				button {
					svg {
						transform: rotate(180deg);
					}
				}
			}
			.filter-group-sort {
				padding: 0 0 1.75em 0;
				display: none;
			}
			.sort-options {
				display: flex;
				flex-direction: column;
				margin-top: 1em;
				gap: 1em;
				&__option {
					display: flex;
					gap: 1em;
					span {
						font-size: 14px;
					}
				}
			}
		}
	}
	&__footer {
		padding: 1.8752em 1.5em;
        button {
            width: 100%;
        }
		&-wrap {
			display: flex;
			justify-content: space-between;
			align-items: center;
			text-transform: uppercase;
			font-size: 0.75em;
			margin-bottom: 0.875em;
		}
		&-count {
			text-align: center;
			display: block;
			font-size: 0.75em;
		}
	}
}
