@use "../abstracts/variables.scss" as *;

.drawer-quick-add-open {
    .drawer-quick-add {
        right: 0;
        left: auto;
        opacity: 1;
    }
    #overlay-mask {
        display: block;
    }
}

.drawer-quick-add {
    max-width: 688px;
    right: -688px;
    left: auto;
    border-top-left-radius: $radius-small;
    border-bottom-left-radius: $radius-small;
    &__inner {
        overflow-y: auto;
    }
    &__images {
        position: relative;
    }
    &__header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding-top: 1em;
        z-index: 3;
        button {
            width: fit-content;
            width: 1.875em;
            height: 1.875em;
            margin-left: auto;
        }
        &__status {
            &.hidden {
                display: none;
            }
        }
    }
    &__content {
        padding: 0 0 0 1.875em;
        overflow: unset;
        overflow-y: unset;
        @media (max-width: $w-m) {
            padding: 0 1em;
        }
        .loading-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .section-main-product__badges {
        padding: 1em;
        top: 5em;
    }
    .main-product-media__navigation {
        top: unset;
        bottom: 1em;
    }
    .accordions, .section-main-product__content-notifications, .section-main-product__content-payment, .wishlist-toggle, .main-product-sticky-add {
        display: none !important;
    }
    .section-main-product__content {
        padding: 3em 0 1.25em 0;
        max-height: unset;
    }
    .section-main-product__content-title-breadcrumbs, .section-main-product__content-usps, .section-main-product__content-description {
        @media (min-width: $w-l) {
            margin-right: 1.875em;
        }
    }
    .section-main-product__content-title-price {
        @media (min-width: $w-l) {
            margin-right: 1.875em;
        }
        h1 {
            font-size: 22px;
        }
    }
    .section-main-product__content-actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1em;
        @media (min-width: $w-l) {
            margin-right: 1.875em;
        }
        #view-product {
            display: flex;
            @media (max-width: $w-m) {
                width: 100%;
            }
        }
        @media (max-width: $w-m) {
            flex-direction: column;
        }
    }
    .main-product-media {
        margin-top: 4.625em;
        @media (min-width: $w-l) {
            //reset settings from product page
            overflow-x: auto;
            display: flex;
            scroll-snap-type: x mandatory;
        }
        &__navigation {
            bottom: 0.5em;
            right: 0.625em;
            left: auto;
            flex-direction: row;
            padding: 0.625em 1.25em;
            border-radius: 20px;
            .navigation-button {
                background-color: $color-grey;
                &.prev {
                    transform: rotate(90deg);
                }
                &.next {
                    transform: rotate(270deg);
                }
            }
            .navigation-zoom {
                display: none;
            }
        }
        &__image, &__video {
            flex: auto;
            min-width: 304px;
            max-width: 304px;
            pointer-events: none;
        }
    }
}