@use "../abstracts/variables.scss" as *;

.drawer-collection-header-description-open {
	.drawer-collection-header-description {
		right: 0;
        opacity: 1;
	}
    #overlay-mask {
        display: block;
        z-index: 11;
    }
}

.drawer-collection-header-description {
    right: -800px;
    opacity: 0;
    left: auto;
    width: 100%;
    max-width: 555px;
    .inner {
        height: 100%;
    }
    &__content {
        display: flex;
        flex-direction: column;
        gap: 1em;
        justify-content: space-between;
        height: 100%;
        img {
            display: block;
            object-fit: cover;
            width: 100%;
            height: 100%;
            max-height: 350px;
        }
        & > div {
            font-size: 0.875em;
            padding: 4.875em 3em;
            @media (max-width: $w-m) {
                padding: 5.125em 1em 2.25em 1em;
            }
            ul {
                padding-left: 1em;
                list-style-type: disc;
                display: flex;
                flex-direction: column;
                gap: 1em;
            }
            h2 {
                font-size: 40px;
                font-weight: $weight-display;
                margin: 16px 0;
                @media (max-width: $w-l) {
                    font-size: 28px;
                }
            }
            h3 {
                font-size: 28px;
                font-weight: $weight-display;
                margin: 16px 0;
                @media (max-width: $w-l) {
                    font-size: 20px;
                }
            }
            h4 {
                font-size: 22px;
                margin: 16px 0;
                font-weight: $weight-display;
                @media (max-width: $w-l) {
                    font-size: 18px;
                }
            }
            h5, h6 {
                font-size: 18px;
                margin: 16px 0;
                font-weight: $weight-display;
                @media (max-width: $w-l) {
                    font-size: 14px;
                }
            }
        }
        .drawer-close {
            margin: auto auto 0 auto;
        }
    }
    .drawer__header__close {
        position: absolute;
        z-index: 2;
        right: 2em;
        top: 1em;
        border-radius: 50%;
        background-color: $color-primary;
        width: 30px;
        height: 30px;
        span {
            display: none;
        }
        svg {
            width: 20px;
            height: 20px;
        }
    }
}