@use "../abstracts/variables.scss" as *;

.drawer-filters {
	.drawer__header {
		padding: 3em 0 1em 0;
	}
	.drawer__header__title {
		padding: 0 2em;
		@media (max-width: $w-m) {
			padding: 0 1em;
		}
		h5 {
			font-size: 22px;
		}
	}
	.filter-form {
		display: flex;
		flex-direction: column;
		padding: 0 2em;
		@media (max-width: $w-m) {
			padding: 0 1em;
		}
		&__filters {
			display: flex;
			flex-direction: column;
		}
	}
	.filter-group {
		display: flex;
		flex-direction: column;
		width: 100%;
		border-bottom: 1px solid $color-primary;
		&.active {
			.filter-group-display {
				display: block;
			}
			.filter-group-summary {
				svg {
					transform: rotate(180deg);
				}
			}
		}
		&--size {
			.filter-group-display {
				&__list {
					grid-template-columns: repeat(6,1fr);
				}
			}
		}
		&--product-type, &--availability {
			.filter-group-display {
				&__list {
					display: flex;
					flex-direction: column;
					width: 100%;
					&-item {
						label {
							gap: 1em;
							span {
								position: relative;
								top: auto;
								left: auto;
								transform: none;
							}
						}
						input {
							width: 1.5em;
							height: 1.5em;
							min-width: 1.5em;
							min-height: 1.5em;
							&:checked {
								appearance: auto;
							}
						}
					}
				}
			}
		}
		&--colour, &--color {
			.filter-group-display {
				&__list {
					display: flex;
					flex-flow: row wrap;
					&-item {
						label {
							width: fit-content;
							padding: 1em;
							gap: 0.5em;
						}
						input {
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
						}
						span {
							position: relative;
							top: auto;
							left: 0;
							transform: none;
						}
					}
				}
			}
		}
	}
	.filter-group-summary {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1em 0;
		cursor: pointer;
        span {
            font-size: 1.25em;
            font-weight: $weight-bold;
        }
		svg {
			width: 24px;
			height: auto;
		}
	}
	.filter-group-display {
		display: none;
		padding-bottom: 1.5625em;
		&__list {
			display: grid;
			width: fit-content;
			gap: 1em;
			&-item {
				label {
					position: relative;
				}
				&.hidden {
					display: none;
				}
			}
			label {
				display: flex;
				align-items: center;
                gap: 1em;
				cursor: pointer;
				span {
					font-size: 14px;
					display: block;
				}
				input {
					pointer-events: none;
					width: 1.5em;
					height: 1.5em;
					min-height: 1.5em;
					min-width: 1.5em;
					border: 1px solid $color-primary;
                    border-radius: $radius-small;
					accent-color: $color-primary;
					&:checked {
                        border-color: $color-transactional;
					}
				}
				.filter-colour-swatch {
					width: 1.25em;
    				height: 1.25em;
					border-radius: 50%;
					border: 1px solid $color-primary;
				}
			}
		}
		&__price-range {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: auto;
			grid-template-areas: 'from to' 'button button';
			gap: 0 0.5em;
			.filter-group-display__price-range-from {
				grid-area: from;
			}
			.filter-group-display__price-range-to {
				grid-area: to;
			}
			label {
				display: block;
				line-height: 1;
			}
			input {
				width: 100%;
				margin-top: 0.5em;
                padding: 0.5em;
			}
			button {
				width: 100%;
				grid-area: button;
			}
		}
	}
	  
	input[type=range]::-webkit-slider-thumb {
		-webkit-appearance: none; 
		appearance: none;
		pointer-events: all;
		width: 15px;
		height: 15px;
		background-color: $color-primary;
		border-radius: 50%;
		box-shadow: 0 0 0 1px #C6C6C6;
		cursor: pointer;
	}
	  
	input[type=range]::-moz-range-thumb {
		-webkit-appearance: none; 
		appearance: none;
		pointer-events: all;
		width: 24px;
		height: 24px;
		background-color: #fff;
		border-radius: 50%;
		box-shadow: 0 0 0 1px #C6C6C6;
		cursor: pointer;  
	  
	}
	  
	input[type=range]::-webkit-slider-thumb:hover {
		background: $color-primary;
	}
	  
	input[type=range]::-webkit-slider-thumb:active {
		box-shadow: inset 0 0 3px $color-primary, 0 0 9px $color-primary;
		-webkit-box-shadow: inset 0 0 3px $color-primary, 0 0 9px $color-primary;
	}
	  
	  
	input[type="range"] {
		-webkit-appearance: none; 
		appearance: none;
		height: 2px;
		width: 100%;
		position: absolute;
		background-color: $color-primary;
		pointer-events: none;
	}
	  
	.from-slider {
		height: 0;
		z-index: 1;
	}
	
	.active-range{
		margin-top: 1em;
		display: flex;
		justify-content: space-between;
	}
	
	.multi-range {
		position: relative;
		height: 1.5em;
		margin-top: 0.5em;
		pointer-events: none;
		input[type='range'] {
			position: absolute;
			&:nth-child(1) {
				&::-webkit-slider-thumb::before {
					background-color: $color-primary;
				}
			}
			&:nth-child(2) {
				background: none;
				&::-webkit-slider-thumb::before {
					background-color: $color-primary;
				}
			}
		}
		input[type='range'] {
			box-sizing: border-box;
			appearance: none;
			width: 100%;
			margin: 0;
			// overflow: hidden;
			border: 0;
			border-radius: 1px;
			outline: none;
			background: $color-primary no-repeat center;
			background-size: 100% 1px;
			pointer-events: none;
			&:active,
			&:focus {
				outline: none;
			}
			&::-webkit-slider-thumb {
				height: 2em;
				width: 2em;
				border-radius: 50%;
				background: $color-primary;
				border: 1px solid $color-primary;
				position: relative;
				margin: 0;
				cursor: pointer;
				appearance: none;
				pointer-events: all;
				box-shadow: none;
				@media (max-width: $w-l) {
					height: 1.5em;
					width: 1.5em;
				}
			}
		}
		.range-indicator {
			display: none;
			position: absolute;
			left: 50px;
			right: 50px;
			top: 0;
			//transform: translateY(-50%);
			height: 1px;
			background: $color-primary;
			border: 1px solid $color-primary;
			width: auto;
			pointer-events: none;
		}
		&__values {
			display: flex;
			justify-content: space-between;
			padding: 0.5em 0 1em 0;
			pointer-events: none;
		}
	}
}