@use "../abstracts/variables.scss" as *;

.main-product-sticky-add {
    display: none;
    padding: 0.5em;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 12;
    width: 100%;
    background-color: $color-white;
    @media (min-width: $w-l) {
        display: none !important;
    }
}