@use "../abstracts/variables.scss" as *;

.main-product-sticky-add {
    display: none;
    padding: 0.5em;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 9;
    width: 100%;
    background-color: rgba(255,255,255, 0.93);
    backdrop-filter: blur(2px);
    @media (min-width: $w-l) {
        width: calc(100% - 2em);
        border-radius: 100px;
        padding: 1em 2.875em;
        left: 50%;
        transform: translateX(-50%);
        bottom: 1.25em;
        display: grid;
        align-items: center;
        grid-template-columns: auto 424px;
        gap: 2em;
    }
    .section-main-product__content-actions {
        margin-right: 0;
    }
    &__content {
        display: none;
        align-items: center;
        gap: 1.25em;
        @media (min-width: $w-l) {
            display: flex;
        }
        .price-display {
            margin-right: 0;
            margin-left: 2.25em;
            flex-direction: column;
            align-items: flex-end;
            ins, .label-price, .price {
                font-size: 22px;
                font-family: $font-display;
                color: $color-primary;
                line-height: 1;
            }
            .compare {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                gap: 0.25em;
            }
            del, .savings-badge {
                font-family: $font-base;
                color: $color-heritage;
                opacity: 1;
                font-size: 10px;
                line-height: 1;
                text-transform: uppercase;
            }
            .from {
                font-size: 10px;
                text-transform: uppercase;
                line-height: 1;
            }
        }
        h2 {
            font-size: 18px;
            max-width: 370px;
        }
        img {
            max-width: 108px;
            max-height: 70px;
            width: 100%;
            object-fit: cover;
            display: block;
        }
        .savings-badge {
            display: none;
        }
    }
}