@use "../abstracts/variables.scss" as *;

.menu-mobile {
	padding: 1.875em 1em;
	&__feature {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
		padding: 20px;
		overflow-x: auto;
		img {
			width: 100%;
			height: 15em;
			object-fit: cover;
			border-radius: 20px;
		}
		p {
			margin-top: 0;
			text-decoration: underline;
			font-size: 0.875em;
		}
		a {
			width: 100%;
		}
	}
    &__footer {
        border-top: 1px solid $color-primary;
        background-color: #F4F3EF;
        margin-top: auto;
        a {
            padding: 1.875em 1em;
            display: flex;
            gap: 1em;
            align-items: center;
            &:first-of-type {
                border-bottom: 1px solid $color-primary;
            }
            svg {
                &:last-of-type {
                    margin-left: auto;
                }
            }
        }
    }
	&__link {
		margin: 0;
		height: 4em;
		display: flex;
		align-items: center;
		justify-content: space-between;
		span {
			font-weight: $weight-bold;
			font-size: 1.25em;
		}
		svg {
			width: 1.25em;
			height: auto;
		}
	}
	&__item {
		&.active {
			.menu-mobile__mega {
				left: 0;
			}
			.menu-mobile__drop {
				left: 0;
			}
		}
	}
	&__mega,
	&__drop {
		position: absolute;
		left: 100%;
		top: 0;
		width: 100%;
		height: 100%;
		overflow-y: auto;
		transition: left 0.25s linear;
		z-index: 3;
		background-color: white;
	}
	.menu-mega,
	.menu-drop {
		height: 100%;
		&__title {
			height: 3em;
			// border-bottom: 1px solid $color-grey;
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin: 0 20px;
			font-weight: 400;
			text-decoration: none;
			line-height: 1;
			@media (max-width: $w-s) {
				margin: 0 1.5em;
			}
			button {
				width: fit-content;
				height: fit-content;
				padding: 0;
				background-color: transparent;
				box-shadow: none;
				span {
					font-weight: 400;
				}
			}
			svg {
				width: 0.8em;
				height: auto;
			}
		}
		&__features {
			display: flex;
			flex-direction: column;
			gap: 0.5em;
			padding: 20px;
			overflow-x: auto;
		}
		&__feature {
			width: 100%;
			img {
				width: 100%;
				height: 15em;
				object-fit: cover;
				border-radius: 20px;
			}
			p {
				margin-top: 0;
				text-decoration: underline;
				font-size: 0.875em;
			}
		}
	}
	.menu-child {
		padding: 0 20px;
	}
	.menu-grandchild {
		&__link {
			padding: 0;
			&:last-child {
				padding-bottom: 2em;
			}
			&:first-child {
				margin-top: 1em;
			}
		}
	}
	.menu-child,
	.menu-grandchild {
		border-bottom: 1px solid $color-grey;
		margin: 0;
		&__title {
			height: 4em;
			display: flex;
			align-items: center;
			justify-content: space-between;
			span {
				font-weight: 400;
			}
			svg {
				width: 0.8em;
				height: auto;
				// transform: rotate(180deg);
				transition: transform 0.15s linear;
			}
		}
		&__link {
			padding: 0;
			height: 2em;
			display: flex;
			align-items: center;
			justify-content: space-between;
			@media (max-width: $w-s) {
				padding: 0;
			}
		}
	}
	.menu-mega-2-tier {
		.menu-child {
			padding-top: 0;
			&:last-of-type {
				.menu-grandchild {
					padding-bottom: 0;
				}
			}
			&.open {
				.menu-grandchild {
					display: block;
				}
				.menu-child__title {
					svg {
						transform: rotate(90deg);
					}
				}
			}
		}
		.menu-grandchild {
			display: none;
			// padding: 1.5em 0;
			border-bottom: 0;
			@media (max-width: $w-s) {
				// padding: 1em 0;
			}
		}
	}
}
