@use "../abstracts/variables.scss" as *;

.menu-desktop {
	display: flex;
	justify-content: space-between;
	height: 100%;
	width: 100%;
	.container {
		padding: 0;
		max-width: 1600px;
		margin: 0 auto;
	}
	&__link {
		height: 100%;
		display: flex;
		align-items: center;
		gap: 0.375em;
		span {
			font-size: 0.875em;
		}
		svg {
			width: 0.625em;
			height: auto;
			transform: rotate(-90deg);
			path,
			line,
			polygon,
			circle {
				fill: none;
				stroke-width: 1.5;
				stroke-miterlimit: 10;
				stroke-linecap: round;
				stroke-linejoin: round;
			}
		}
	}
	&__item {
		font-size: 16px;
		&.active {
			.menu-desktop__mega {
				display: block;
			}
			.menu-desktop__link {
				color: unset;
				text-decoration: underline;
				text-decoration-thickness: 1px;
				text-underline-offset: 6px;
			}
		}
	}
	&__mega {
		display: none;
		position: absolute;
		background-color: white;
		left: 0;
		top: 54px;
		width: 100%;
		z-index: 5;
		padding: 2.125em 2em;
		border-top: 1px solid $color-primary;
	}
	&__brands {
		.brands-list {
			display: grid;
			grid-template-columns: repeat(5, 1fr);
			gap: 2.625em;
			&__letter {
				&__inner {
					padding-bottom: 1em;
					margin-bottom: 1em;
					border-bottom: 1px solid $color-primary;
					p {
						font-size: 1.25em;
					}
				}
				a {
					font-size: 0.875em;
					display: block;
					padding-bottom: 1em;
				}
			}
		}
		.brands-list-action {
			text-align: center;
			padding-top: 2em;
		}
		.featured-brands {
			max-width: 1160px;
			margin: 0 auto;
			p {
				text-align: center;
				text-transform: uppercase;
				font-size: 0.625em;
				letter-spacing: 1px;
			}
			&__items {
				display: grid;
				grid-template-columns: repeat(6, 1fr);
				align-items: center;
				a {
					display: flex;
    				padding: 0 3em;
					img {
						display: block;
					}
				}
			}
		}
	}
	.menu-child,
	.menu-grandchild {
		a {
			&:hover {
				text-decoration: underline;
				text-decoration-thickness: 1px;
				text-underline-offset: 6px;
			}
		}
	}
	.menu-mega {
		display: grid;
		grid-template-columns: 1fr auto;
		gap: 1em;
		max-width: 1600px;
		margin-left: auto;
		margin-right: auto;
		a {
			display: block;
			min-width: 10em;
		}
		&__title {
			text-decoration: none;
			margin-bottom: 1em;
			padding-bottom: 1em;
			line-height: 1;
		}
		&__features {
			display: flex;
			gap: 0.875em;
			@media (max-width: 1280px) {
				gap: 1em;
			}
		}
		&__feature {
			width: 274px !important;
			min-width: 274px !important;
			@media (max-width: 1130px) {
				width: 190px !important;
				min-width: 190px !important;
			}
			img {
				display: block;
				object-fit: cover;
				height: 100%;
				border-radius: $radius-small;
				margin-bottom: 1.25em;
				min-height: 364px;
			}
			.feature-text {
				font-size: 0.625em;
			}
		}
	}
	.menu-mega-1-tier {
		.menu-mega {
			&__title {
				display: none;
			}
		}
		.menu-child {
			display: grid;
			grid-template-rows: repeat(5, auto);
			grid-auto-flow: column;
			gap: 0.5em 1em;
		}
	}
	.menu-mega-2-tier {
		.mega-menus {
			display: flex;
			gap: 1em;
		}
		.menu-child {
			width: auto;
			min-width: 15em;
			&__title {
				text-decoration: none;
				line-height: 1;
				letter-spacing: 0.7px;
				margin-bottom: 1.5em;
				text-transform: uppercase;
				font-size: 0.875em;
				&:hover {
					text-decoration: none;
				}
				span {
					font-weight: 600;
				}
			}
		}
		.menu-grandchild {
			display: grid;
			gap: 1em;
			span {
				text-transform: capitalize;
				font-size: 0.875em;
			}
		}
	}
}
