@use "../abstracts/variables.scss" as *;

.menu-mobile {
	padding: 1.875em 1em;
	padding-top: 0;
	&__main {
		&-features {
			display: flex;
			gap: 1em;
			overflow-x: auto;
			scroll-snap-type: x mandatory;
			padding: 1.25em 1em 1em 1em;
		}
		&-feature {
			min-width: 310px;
			img {
				object-fit: cover;
				border-radius: $radius-small;
				height: 10.875em;
				margin-bottom: 1em;
			}
			.feature-text {
				font-size: 0.625em;
			}
		}
	}
	&__feature {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
		padding: 20px;
		overflow-x: auto;
		img {
			width: 100%;
			height: 15em;
			object-fit: cover;
			border-radius: 20px;
		}
		p {
			margin-top: 0;
			text-decoration: underline;
			font-size: 0.875em;
		}
		a {
			width: 100%;
		}
	}
    &__footer {
        border-top: 1px solid $color-primary;
        background-color: #F4F3EF;
        margin-top: auto;
        a {
            padding: 1.875em 1em;
            display: flex;
            gap: 1em;
            align-items: center;
            &:first-of-type {
                border-bottom: 1px solid $color-primary;
            }
            svg {
                &:last-of-type {
                    margin-left: auto;
                }
            }
        }
    }
	&__link {
		margin: 0;
		height: 4em;
		display: flex;
		align-items: center;
		justify-content: space-between;
		span {
			font-weight: $weight-bold;
			font-size: 1.25em;
		}
		svg {
			width: 1.25em;
			height: auto;
		}
	}
	&__item {
		&.active {
			.menu-mobile__mega {
				left: 0;
			}
			.menu-mobile__drop {
				left: 0;
			}
		}
	}
	&__mega,
	&__drop {
		position: absolute;
		left: 100%;
		top: 0;
		width: 100%;
		height: 100%;
		overflow-y: auto;
		transition: left 0.25s linear;
		z-index: 3;
		background-color: white;
	}
	.menu-mega,
	.menu-drop {
		height: 100%;
		&__title {
			height: 4.25em;
			border-bottom: 1px solid $color-primary;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0 1em;
			svg {
				width: 1.25em;
				height: auto;
			}
			span {
				margin: 0 auto;
				left: -10px;
				position: relative;
				font-size: 1.25em;
				font-weight: $weight-bold;
			}
		}
		&__features {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 1em;
			padding: 1em;
		}
		&__feature {
			width: 100%;
			img {
				width: 100%;
				height: 15.75em;
				object-fit: cover;
				border-radius: $radius-small;
				margin-bottom: 1.25em;
			}
			.feature-text {
				font-size: 0.625em;
				line-height: 140%;
				margin-top: 0.5em;
			}
		}
	}
	.menu-child {
		padding: 0 1em;
	}
	.menu-child,
	.menu-grandchild {
		margin: 0;
		&__title {
			height: 4em;
			display: flex;
			align-items: center;
			justify-content: space-between;
			span {
				font-weight: 400;
			}
			svg {
				width: 1.25em;
				height: auto;
				transition: transform 0.15s linear;
			}
			&-link {
				font-size: 0.75em !important;
				text-decoration: underline;
				text-underline-offset: 6px;
			}
		}
		&__link {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding-bottom: 1em;
		}
	}
	.menu-mega-2-tier {
		.menu-child {
			&__title {
				span {
					font-size: 1.25em;
				}
			}
		}
		.menu-grandchild {
			&__link {
				span {
					font-size: 0.875em;
				}
			}
		}
	}
	&__brands {
		.container {
			padding: 3.625em 1em 1em 1em;
		}
		.brands-list {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 1.375em;
			&__letter {
				padding-bottom: 0.5em;
				&__inner {
					border-bottom: 1px solid $color-primary;
					padding-bottom: 1em;
					margin-bottom: 1em;
					p {
						font-size: 1.25em;
						font-weight: $weight-bold;
					}
				}
				ul {
					li {
						padding-bottom: 1.5em;
						a {
							font-size: 0.875em;
						}
					}
				}
			}
		}
		.featured-brands {
			margin-bottom: 2.625em;
			p {
				text-align: center;
				text-transform: uppercase;
				font-size: 0.625em;
				letter-spacing: 1px;
				font-weight: $weight-bold;
			}
			&__items {
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				align-items: center;
				gap: 0 3.5em;
				a {
					display: flex;
					img {
						display: block;
					}
				}
			}
		}
	}
}
