@use "../abstracts/variables.scss" as *;

.floating-product-comparison-counter {
    position: fixed;
    bottom: 2.25em;
    right: 1.25em;
    background-color: $color-tertiary;
    border-radius: $radius-small;
    padding: 0.5em 0.875em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25em;
    width: fit-content;
    z-index: 10;
    span {
        font-size: 0.625em;
        letter-spacing: 1px;
        text-transform: uppercase;
        line-height: 140%;
        display: block;
    }
    a {
        margin-left: 0.75em;
    }
    svg {
        circle {
            stroke: none;
            fill: none;
        }
    }
}