@use "../abstracts/variables.scss" as *;

.accordions {
    padding-top: 3.5em;
    margin-right: 2em;
    @media (max-width: $w-l) {
        margin-right: 0;
    }
    .accordion {
        padding-bottom: 2em;
        &-toggle {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            text-decoration: none;
            span {
                font-size: 1.25em;
                font-weight: $weight-bold;
            }
        }
        &__content {
            overflow: hidden;
            max-height: 0;
            opacity: 0;
            visibility: hidden;
            transition: max-height 0.3s ease, opacity 0.2s ease;
            &.is-open {
                opacity: 1;
                visibility: visible;
                padding-top: 1.5em;
                padding-right: 2em;
                @media (max-width: $w-l) {
                    padding-right: 0;
                }
            }
            p, a, span, li {
                margin-bottom: 1em;
            }
            ul {
                list-style-type: disc;
                padding-left: 1em;
            }
            ol {
                list-style-type: decimal;
                padding-left: 1em;
            }
            .video-wrapper {
                position: relative;
                padding-bottom: 56.25%;
                height: 0;
                overflow: hidden;
                margin-bottom: 2em;
                video, iframe {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }
            .downloads-wrapper {
                .title {
                    margin-bottom: 0.5em;
                    display: block;
                }
                &__list {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5em;
                    padding-left: 0;
                    @media (max-width: $w-m) {
                        gap: 0.25em;
                    }
                }
                &__item {
                    list-style: none;
                    background-color: $color-tertiary;
                    padding: 1em;
                    border-radius: 10px;
                    @media (max-width: $w-m) {
                        padding: 0.5em 1em;
                    }
                    a {
                        display: flex;
                        text-decoration: none;
                        align-items: center;
                        gap: 1.5em;
                        margin-bottom: 0;
                    }
                    .details {
                        display: flex;
                        flex-direction: column;
                        gap: 0.25em;
                        @media (max-width: $w-m) {
                            gap: 0;
                        }
                        span {
                            margin-bottom: 0;
                            font-size: 0.875em;
                            &:first-of-type {
                                font-weight: bold;
                            }
                        }
                    }
                    svg {
                        width: 1.25em;
			            height: auto;
                    }
                }
            }
        }
    }
}