@charset "utf-8";

/** CRITICAL CSS */
@use '../styles/abstracts/reset';
@use '../styles/abstracts/variables';

/** GLOBAL CSS */
@use '../styles/global/base';
@use '../styles/global/buttons';
@use '../styles/global/badges';
@use '../styles/global/footer';
@use '../styles/global/form-elements';
@use '../styles/global/header';
@use '../styles/global/predictive-search';
@use '../styles/global/layout';
@use '../styles/global/drawers';
@use '../styles/global/cart-items';
@use '../styles/global/fonts';
@use '../styles/global/card-product';
@use '../styles/global/card-article';
@use '../styles/global/shopify-policy';
@use '../styles/global/swatches';
@use '../styles/global/cookie-banner.scss';
