@use "../abstracts/variables.scss" as *;

.button {
    padding: 0.75em 1.625em;
    border-radius: 25px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    border: none;
    appearance: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    span {
        font-size: 0.75em;
        font-weight: 600;
        color: $color-primary;
        font-family: $font-base;
        letter-spacing: 0.6px;
        text-transform: capitalize;
    }
    &:disabled {
        opacity: 0.5;
        pointer-events: none;
    }
    &--no-styling {
        padding: 0;
    }
    &--full-width {
        width: 100%;
    }
    &--primary {
        background-color: $color-primary;
        span {
            color: $color-white;
        }
        &:hover {
            background-color: $color-primary-hover;
        }
    }
    &--secondary {
        background-color: $color-secondary;
        span {
            color: $color-white;
        }
    }
    &--tertiary {
        background-color: $color-tertiary;
        span {
            color: $color-white;
        }
    }
    &--transactional {
        background-color: $color-transactional;
        span {
            color: $color-white;
        }
        &:hover {
            background-color: $color-transactional-hover;
        }
    }
    &--white {
        background-color: $color-white;
        span {
            color: $color-primary;
        }
    }
    &--black {
        background-color: $color-black;
        span {
            color: $color-primary;
        }
    }
    &--cart {
        height: 50px;
        span {
            text-transform: capitalize;
        }
    }
    &--add-to-cart {
        display: flex;
        align-items: center;
        gap: 1em;
        height: 50px;
        .button-price {
            position: relative;
            &:before {
                content: "-";
                position: absolute;
                right: -10px;
            }
        }
        svg {
            path {
                stroke: $color-white;
            }
        }
    }
}

.button-text {
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-thickness: 1px;
    transition: all 0.3s ease-in-out;
    border: none;
    appearance: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    span {
        font-size: 0.75em;
        font-weight: 400;
        letter-spacing: 0.6px;
        display: block;
    }
    &:hover {
        text-decoration-thickness: 2px;
    }
    &--primary {
        text-decoration-color: $color-primary;
        span {
            color: $color-primary;
        }
    }
    &--secondary {
        text-decoration-color: $color-secondary;
        span {
            color: $color-secondary;
        }
    }
    &--tertiary {
        text-decoration-color: $color-tertiary;
        span {
            color: $color-tertiary;
        }
    }
    &--transactional {
        text-decoration-color: $color-transactional;
        span {
            color: $color-transactional;
        }
    }
    &--white {
        text-decoration-color: $color-white;
        span {
            color: $color-white;
        }
    }
    &--black {
        text-decoration-color: $color-black;
        span {
            color: $color-black;
        }
    }
}

.tag {
    padding: 3px 6px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: $color-secondary;
    color: $color-primary;
    border-radius: 2px;
}

.drawer-filters-toggle {
    button {
        transition: background-color 0.3s ease-in-out;
        &:hover {
            background-color: $color-transactional;
        }
    }
}

.product-comparison-toggle {
    width: 24px;
    height: 24px;
    appearance: none;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    circle {
        stroke-width: 1px;
    }
    svg {
        pointer-events: none;
    }
}

.wishlist-toggle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid $color-primary;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    appearance: none;
    outline: none;
    background-color: $color-white;
    cursor: pointer;
    svg {
        width: 14px;
        pointer-events: none;
    }
    &.added {
        svg {
            fill: $color-primary !important;
        }
    }
    span {
        display: none;
    }
}