@use "../abstracts/variables.scss" as *;

.card-article {
    &__image {
        margin-bottom: 1em;
        position: relative;
        img {
            display: block;
            object-fit: cover;
            width: 100%;
            height: 100%;
            aspect-ratio: 1 / 1;
            border-radius: $radius-small;
        }
        &-overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 1;
            border-radius: $radius-small;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        gap: 1em;
        span {
            font-size: 0.625em;
        }
        &-text {
            font-size: 0.875em;
            line-height: 140%;
        }
    }
}