/*
*   Shopify default cookie consent
*/

@use "../abstracts/variables.scss" as *;

#shopify-pc__banner,
#shopify-pc__prefs__dialog {
    padding: 0;
    border-radius: 0;

    button {
        border-radius: 100px;
        padding: 16px;
        font-size: 11px;
    }

    #shopify-pc__banner__btn-manage-prefs {
        padding: 0;
        flex-basis: auto;
    }
    
    #shopify-pc__banner__btn-accept {
        min-width: 180px;
        background-color: $color-primary;
        color: $color-white;
        flex-basis: auto;
        border-radius: 100px;
        border: none;
    }
    
    #shopify-pc__banner__btn-decline{
        display: none;
        flex-basis: auto;
    }
    
    #shopify-pc__prefs__header-decline {
        order: 1;
        padding: 0;
        border: none;
    }
    
    #shopify-pc__prefs__header-close {
        padding: 0;
    }
    
    #shopify-pc__prefs__header-accept {
        order: 2;
        background-color: $color-primary;
        border: none;
        color: $color-white;
    }
    
    #shopify-pc__prefs__header-save {
        order: 3;
        background-color: $color-primary;
        border: none;
        color: $color-white;
    }
}


#shopify-pc__banner {
    width: 100%;
    height: auto;
    bottom: 0;
    left: auto;
    background: transparent;
    box-shadow: none;
    
    &::before {
        content: '';
        position: fixed;
        background-color: #1f2535cc;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 100;
        opacity: 0.8;
    }

    .shopify-pc__banner {
    
        &__wrapper {
            position: relative;
            background-color: $color-white;
            z-index: 200;
            padding: 32px;
            max-width: 800px;
            box-shadow: 0px 4px 10px rgba(63, 63, 68, 0.4);
            margin: 0 auto;
        }

        &__btns {
            justify-content: space-between;
        }

        &__dialog h2 {
            margin-bottom: 1em;
        }
        
        &__body p {
            line-height: 1.6;
        }
    }


}

body.webview-display {
    #shopify-pc__banner,
    #shopify-pc__prefs__dialog {
        display: none !important;
    }
}