@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.nunito-regular {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  font-style: normal;
}

.nunito-medium {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  font-style: normal;
}

.nunito-semi-bold {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  font-style: normal;
}

.nunito-bold {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  font-style: normal;
}

.nunito-extra-bold {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  font-style: normal;
}

.nunito-black {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  font-style: normal;
}

@font-face {
    font-family: 'Waden';
    src: url('@/fonts/Waden-Regular.woff') format('woff'),
         url('@/fonts/Waden-Regular.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}
