@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.montserrat-reg {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  font-style: normal;
}

@font-face {
    font-family: 'Souvenir';
    src: url('@/fonts/Souvenir.woff') format('woff'),
         url('@/fonts/Souvenir.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SouvenirItalic';
    src: url('@/fonts/SouvenirI.woff') format('woff'),
         url('@/fonts/SouvenirI.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SouvenirBold';
    src: url('@/fonts/SouvenirB.woff') format('woff'),
         url('@/fonts/SouvenirB.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SouvenirBoldItalic';
    src: url('@/fonts/SouvenirBI.woff') format('woff'),
         url('@/fonts/SouvenirBI.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}
