@use "../abstracts/variables.scss" as *;

.section-footer {
    background-color: $color-primary;
    color: $color-white;
    padding: 3.25em 2em 2em 2em;
    position: relative;
    overflow: hidden;
    .stamp-logo {
        position: absolute;
        right: -335px;
        top: 50%;
        transform: translate(-50%, -50%);
        img {
            display: block;
            object-fit: cover;
            width: 400px;
            @media (max-width: $w-m) {
                width: 250px;
            }
        }
        @media (max-width: $w-m) {
            right: -170px;
            top: 40%;
        }
    }
    a {
        color: $color-white;
    }
    span {
        font-size: 0.875em;
        display: block;
    }
    &__inner {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0.75em;
        z-index: 1;
        position: relative;
    }
    &__top {
        display: grid;
        grid-template-columns: 270px 1fr;
        justify-content: space-between;
        gap: 14.5em;
        @media (max-width: $w-ml) {
            gap: 2em;
        }
        @media (max-width: $w-l) {
            grid-template-columns: 1fr;
            gap: 4.625em;
        }
    }
    &__branding {
        @media (max-width: $w-l) {
            order: 2;
            margin: 0 auto;
            img {
                max-width: 210px;
            }
        }
    }
    &__menus {
        display: flex;
        flex-flow: row wrap;
        gap: 5.375em;
        @media (max-width: $w-l) {
            gap: 4em;
        }
        ul {
            display: flex;
            flex-direction: column;
            gap: 0.5em;
        }
        .menu-title {
            font-size: 0.625em;
            font-weight: $weight-bold;
            text-transform: uppercase;
            margin-bottom: 16px;
        }
    }
    &__address {
        width: 100%;
        max-width: 220px;
        & > div {
            p {
                line-height: 140%;
                font-size: 14px;
            }
        }
    }
    &__social {
        display: flex;
        gap: 0.625em;
    }
    &__bottom {
        padding-bottom: 2.875em;
        border-bottom: 1px solid $color-white;
        display: flex;
        flex-direction: column;
        gap: 2em;
        .social-title {
            margin-bottom: 12px;
            text-transform: uppercase;
        }
        @media (max-width: $w-l) {
            align-items: center;
            text-align: center;
            margin-top: 1.25em;
        }
    }
    &__legal {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 1.25em;
        span {
            font-weight: $weight-bold;
            text-transform: uppercase;
            font-size: 8px;
        }
        @media (max-width: $w-l) {
            flex-direction: column;
            gap: 1em;
        }
    }
    @media (max-width: $w-l) {
        padding: 2.875em 1em 1.5em 1em;
    }
}