@use "../abstracts/variables.scss" as *;

input[type='text'],
input[type='number'],
input[type='tel'],
input[type='password'],
input[type='search'],
input[type='email'],
textarea,
select {
	font: 0.875em $font-base;
	display: flex;
	height: 40px;
	padding: 0 1em;
	align-items: center;
	background-color: transparent;
	width: 100%;
	border: 1px solid #1F25354D;
	appearance: none;
	color: $color-primary;
	border-radius: $radius-small;
	letter-spacing: 0.05em;
	&:hover {
		box-shadow: none;
	}
	&:focus {
		outline: none;
	}
	&:disabled {
		opacity: 0.4;
		pointer-events: none;
	}
	&.failed {
		border-bottom-color: $color-failure;
	}
}
button,
input[type='submit'] {
	font: 1em $font-base;
	&:focus {
		outline: none;
	}
}
input[type='search'] {
	-webkit-appearance: none;
	appearance: none;
}
select {
	padding: 0 2.5em 0 0;
	appearance: none;
	background: transparent url(icon-drop.svg) no-repeat 100% 50% / 1em;
	border: 1px solid $color-grey;
	border-bottom-color: $color-primary;
	&.failed {
		border-color: $color-failure;
	}
}
textarea {
	padding: 1em;
	width: 100%;
	max-width: 100%;
	min-height: 10em;
	resize: vertical;
	border-radius: $radius-small;
	&.failed {
		border-color: $color-failure;
	}
}
input[type='checkbox'],
input[type='radio'] {
	font: 1em $font-base;
	appearance: none;
	width: 1.5em;
	height: 1.5em;
	min-width: 1.5em;
	min-height: 1.5em;
	border: 1px solid $color-primary;
	border-radius: $radius-small;
	background-color: transparent;
	cursor: pointer;
	// &:checked {
	// 	background: transparent url(icon-check.svg) no-repeat 50% 50% / 1em;
	// }
	&:focus {
		outline: none;
		border-color: 1px solid $color-primary;
		box-shadow: none;
		background-color: transparent;
	}
	&.failed {
		border-color: $color-failure;
	}
}
label {
	display: block;
	// white-space: nowrap;
	&.disabled {
		opacity: 0.25;
	}
	&.required {
		&:after {
			content: '*';
			color: $color-failure;
			margin-left: 0.25em;
		}
	}
	&.checkbox {
		display: flex;
		align-items: center;
		gap: 0.5em;
	}
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	box-shadow: 0 0 0 30px $color-grey inset;
}
input[type='search']::-ms-clear {
	display: none;
	width: 0;
	height: 0;
}
input[type='search']::-ms-reveal {
	display: none;
	width: 0;
	height: 0;
}
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
	display: none;
}
::placeholder {
	font: 1em $font-base;
	color: $color-primary;
	opacity: 0.3;
}
:-ms-input-placeholder {
	font: 1em $font-base;
	color: $color-primary;
	opacity: 0.3;
}
::-ms-input-placeholder {
	font: 1em $font-base;
	color: $color-primary;
	opacity: 0.3;
}
.form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 1em 0;
	label {
		display: none;
        text-transform: uppercase;
        font-size: 0.625em;
        font-weight: $weight-bold;
		&.visible {
			display: flex;
			gap: 0.75em;
			align-items: center;
		}
		span {
			font-size: 0.75em;
		}
	}
	.form-row {
		display: flex;
		flex-direction: column;
		gap: 0.25em;
		&--split {
			width: calc(50% - 0.5em);
			@media (max-width: $w-m) {
				width: 100%;
			}
		}
		&--full {
			width: 100%;
		}
		&--between {
			justify-content: space-between;
		}
		&--actions {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 1em;
			padding-top: 0.5em;
		}
		&--links {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 1em;
		}
		&--1 {
			order: 1 !important;
		}
		&--2 {
			order: 2 !important;
		}
		&--3 {
			order: 3 !important;
		}
		&--4 {
			order: 4 !important;
		}
		&--5 {
			order: 5 !important;
		}
		&--6 {
			order: 6 !important;
		}
		&--7 {
			order: 7 !important;
		}
		&--8 {
			order: 8 !important;
		}
		&--9 {
			order: 9 !important;
		}
		&--10 {
			order: 10 !important;
		}
		&--11 {
			order: 11 !important;
		}
		&--12 {
			order: 12 !important;
		}
		&.send-on-row {
			display: flex;
			align-items: center;
			flex-direction: row;
			gap: 0.25em;
			border: 1px solid #1F25354D;
			border-radius: $radius-small;
			padding: 0.25em 1em;
			label {
				display: inline-block !important;
				margin-right: 0.5em;
				white-space: nowrap;
				font-size: 0.625em;
				text-transform: uppercase;
			}
			input {
				border: none;
				padding: 0;
				width: 100%;
				cursor: pointer;
			}
			.date-input-wrapper {
				position: relative;
				display: flex;
				align-items: center;
				width: 100%;
			}
			.date-input-wrapper input[type="date"]::-webkit-calendar-picker-indicator {
				opacity: 0;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
			.date-chevron {
				position: absolute;
				right: 0;
				pointer-events: auto;
				cursor: pointer;
				width: 1.25em;
				height: 1.25em;
				display: flex;
				align-items: center;
				pointer-events: none;
			}
		}
	}
	.errors {
		color: $color-failure;
		display: flex;
		flex-direction: column;
		gap: 0.25em;
		li {
			font-size: 0.875em;
		}
		a {
			color: $color-failure;
		}
	}
}

