@use "../abstracts/variables.scss" as *;

.section-header {
    &__inner {
        // &--index {
        //     position: fixed;
        //     width: 100%;
        //     z-index: 3;
        //     background-color: $color-white;
        // }
    }
    &__branding {
        width: 100%;
        max-width: 200px;
        min-width: 200px;
    }
    &__mobile {
        display: none;
        @media (max-width: $w-l) {
            display: block;
        }
        button {
            appearance: none;
            outline: none;
            border: none;
            background-color: transparent;
            cursor: pointer;
            svg {
                cursor: pointer;
                width:  20px;
                height:  20px;
                min-width: 20px;
                min-height: 20px;
                path {
                    stroke: $color-primary;
                }
                .line {
                    transition: transform 0.3s ease, opacity 0.3s ease;
                    transform-origin: center;
                }
                &.active {
                    .line {
                        &:nth-child(1) {
                            transform: rotate(45deg) translate(7px, 6px);
                        }
                        &:nth-child(2) {
                            opacity: 0;
                        }
                        &:nth-child(3) {
                            transform: rotate(-45deg);
                        }
                    }
                }
            }
            .cross {
                display: none;
                svg {
                    width: 22px;
                    height: 22px;
                    min-width: 22px;
                    min-height: 22px;
                }
            }
            .show {
                display: block !important;
            }
            .hide {
                display: none !important;
            }
        }
    }
    &__top {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr auto 1fr;
        padding: 0.75em 2em;
        border-bottom: 1px solid $color-primary;
        @media (max-width: $w-l) {
            padding: 1em;
        }
    }
    &__search {
        display: block;
        @media (max-width: $w-l) {
            display: none;
        }
        button {
            appearance: none;
            outline: none;
            border: none;
            background-color: transparent;
            display: flex;
            gap: 0.625em;
            align-items: center;
            cursor: pointer;
            span {
                font-size: 14px;
                pointer-events: none;
            }
        }
    }
    &__actions {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 1em;
        a, button {
            appearance: none;
            outline: none;
            border: none;
            background-color: transparent;
            cursor: pointer;
            span {
                display: none;
            }
        }
        svg {
            min-width: 20px;
        }
        &-cart {
            display: flex;
            position: relative;
            #cart-counter {
                pointer-events: none;
                position: absolute;
                width: 1em;
                height: 1em;
                top: -6px;
                right: -6px;
                background-color: $color-transactional;
                border-radius: 50%;
                color: $color-white;
                display: flex;
                align-items: center;
                justify-content: center;
                .count {
                    font-size: 8px;
                }
            }
            svg {
                pointer-events: none;
            }
        }
        &-wishlist {
            display: block;
            @media (max-width: 580px) {
                display: none;
            }
        }
        &-search {
            display: none;
            @media (max-width: $w-l) {
                display: block;
            }
        }
        &-account {
            display: block;
            @media (max-width: 580px) {
                display: none;
            }
        }
    }
    &__navigation {
        padding: 1em 2em;
        border-bottom: 1px solid $color-primary;
        position: relative;
        display: none;
        @media (min-width: $w-l) {
            display: block;
        }
    }
}